keys.py

lib/
bin/
__pycache__/
.DS_store
.cfg
.vscode/
# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


# Django stuff:
*.log
local_settings.py
db.sqlite3

# dotenv
.env
.env.*
.venv

# virtualenv
ENV/
venv/
env/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Ruff cache
.ruff_cache/
